<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>tests.RegistrationTestCases</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Sucessfull_URL_Rediredction</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Proper_Registration_Content</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Static_Successful_Login</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>RegistrationValidationTrials</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Random_Successful_Login</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>startDriver</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>initPageObject</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>screenshotOnFailure</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>exitDriver</td>
<td>&nbsp;</td></tr>
</table>
