<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="756ead">  <td>20/01/29 10:58:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.startDriver()[pri:0, instance:tests.RegistrationTestCases@1bce4f0a]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/01/29 10:58:42</td>   <td>12790</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTestCases.initPageObject()[pri:0, instance:tests.RegistrationTestCases@1bce4f0a]">&gt;&gt;initPageObject</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/01/29 10:58:42</td>   <td>12862</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTestCases.Sucessfull_URL_Rediredction()[pri:1, instance:tests.RegistrationTestCases@1bce4f0a]">Sucessfull_URL_Rediredction</td> 
  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>20/01/29 10:58:42</td>   <td>12902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.screenshotOnFailure(org.testng.ITestResult)[pri:0, instance:tests.RegistrationTestCases@1bce4f0a]">&lt;&lt;screenshotOnFailure</td> 
<td>&nbsp;</td>  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/01/29 10:58:42</td>   <td>12904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTestCases.Proper_Registration_Content()[pri:2, instance:tests.RegistrationTestCases@1bce4f0a]">Proper_Registration_Content</td> 
  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>20/01/29 10:58:42</td>   <td>13167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.screenshotOnFailure(org.testng.ITestResult)[pri:0, instance:tests.RegistrationTestCases@1bce4f0a]">&lt;&lt;screenshotOnFailure</td> 
<td>&nbsp;</td>  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/01/29 10:58:43</td>   <td>13861</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTestCases.RegistrationValidationTrials(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:3, instance:tests.RegistrationTestCases@1bce4f0a]">RegistrationValidationTrials</td> 
  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>20/01/29 10:58:47</td>   <td>18095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.screenshotOnFailure(org.testng.ITestResult)[pri:0, instance:tests.RegistrationTestCases@1bce4f0a]">&lt;&lt;screenshotOnFailure</td> 
<td>&nbsp;</td>  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/01/29 10:58:47</td>   <td>18095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTestCases.RegistrationValidationTrials(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:3, instance:tests.RegistrationTestCases@1bce4f0a]">RegistrationValidationTrials</td> 
  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>20/01/29 10:58:51</td>   <td>21741</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.screenshotOnFailure(org.testng.ITestResult)[pri:0, instance:tests.RegistrationTestCases@1bce4f0a]">&lt;&lt;screenshotOnFailure</td> 
<td>&nbsp;</td>  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/01/29 10:58:51</td>   <td>21741</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTestCases.RegistrationValidationTrials(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:3, instance:tests.RegistrationTestCases@1bce4f0a]">RegistrationValidationTrials</td> 
  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>20/01/29 10:58:54</td>   <td>25433</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.screenshotOnFailure(org.testng.ITestResult)[pri:0, instance:tests.RegistrationTestCases@1bce4f0a]">&lt;&lt;screenshotOnFailure</td> 
<td>&nbsp;</td>  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/01/29 10:58:54</td>   <td>25434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTestCases.RegistrationValidationTrials(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:3, instance:tests.RegistrationTestCases@1bce4f0a]">RegistrationValidationTrials</td> 
  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>20/01/29 10:58:58</td>   <td>29129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.screenshotOnFailure(org.testng.ITestResult)[pri:0, instance:tests.RegistrationTestCases@1bce4f0a]">&lt;&lt;screenshotOnFailure</td> 
<td>&nbsp;</td>  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>20/01/29 10:58:58</td>   <td>29198</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTestCases.Random_Successful_Login(java.lang.String, java.lang.String, java.lang.String)[pri:4, instance:tests.RegistrationTestCases@1bce4f0a]">Random_Successful_Login</td> 
  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>20/01/29 10:59:03</td>   <td>33523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.screenshotOnFailure(org.testng.ITestResult)[pri:0, instance:tests.RegistrationTestCases@1bce4f0a]">&lt;&lt;screenshotOnFailure</td> 
<td>&nbsp;</td>  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>20/01/29 10:59:03</td>   <td>33524</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.exitDriver()[pri:0, instance:tests.RegistrationTestCases@1bce4f0a]">&lt;&lt;exitDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@101478235</td>   <td></td> </tr>
</table>
