<h2>Methods that were not run</h2><table>
<tr><td>tests.RegistrationTestCases.Static_Successful_Login<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Check the registered user can login successfully </i></td></tr>
</table>